@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('images/fundo-gradiente.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);    
    
    height: 627px;
    width: 311px;
    background: url('images/frame-iphone.png') no-repeat top center;
    background-size: 90%;
}

iframe#tela {
    position: relative;
    top: 72px;
    left: 35.5px;
    height: 425px;
    width: 241px;

}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    
}

section#redes-sociais img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.574);
    transition: transform 0.2s;
}